*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:system-ui;
}

body{
background:#0b1220;
color:white;
}

/* ================= AUTH ================= */

.auth-wrapper{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.auth-card{
background:#111827;
padding:40px 35px;
width:100%;
max-width:360px;
border-radius:16px;
text-align:center;
box-shadow:0 20px 50px rgba(0,0,0,.5);
}
.divider{
margin:22px 0 12px;
font-size:12px;
opacity:.5;
}


.logo{
font-size:30px;
font-weight:900;
background:linear-gradient(90deg,#6366f1,#22c55e);
-webkit-background-clip:text;
color:transparent;
}


.tagline{
margin-bottom:25px;
opacity:.7;
}

.field{
position:relative;
margin-bottom:18px;
}

.field input{
width:100%;
padding:12px;
background:#020617;
border:1px solid #1f2933;
border-radius:6px;
color:white;
outline:none;
}

.field label{
position:absolute;
left:12px;
top:50%;
transform:translateY(-50%);
font-size:13px;
opacity:.5;
pointer-events:none;
transition:.3s;
background:#111827;
padding:0 4px;
}

.field input:focus + label,
.field input:valid + label{
top:-6px;
font-size:11px;
opacity:1;
color:#38bdf8;
}

.field input:focus{
border-color:#38bdf8;
box-shadow:0 0 0 2px rgba(56,189,248,.3);
}

button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:6px;
background:linear-gradient(90deg,#38bdf8,#22c55e);
font-weight:700;
cursor:pointer;
}

button:hover{
opacity:.9;
}

.switch{
margin-top:15px;
font-size:13px;
}

.switch span{
color:#38bdf8;
cursor:pointer;
}

/* ================= TEAM ================= */

.team{
padding:80px 8%;
background:#020617;
}

.team h2{
text-align:center;
margin-bottom:50px;
font-size:32px;
}

.team-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
}

.member{
background:#111827;
border-radius:14px;
overflow:hidden;
text-align:center;
position:relative;
}

.member img{
width:100%;
height:220px;
object-fit:cover;
}

.member h3{
margin-top:12px;
}

.member p{
opacity:.6;
padding-bottom:15px;
}

.overlay{
position:absolute;
inset:0;
background:rgba(2,6,23,.85);
display:flex;
justify-content:center;
align-items:center;
gap:15px;
opacity:0;
transition:.3s;
}

.overlay a{
border:1px solid #38bdf8;
padding:6px 10px;
border-radius:6px;
font-size:12px;
}

.member:hover .overlay{
opacity:1;
}

/* ================= MOBILE ================= */

@media(max-width:500px){
.auth-card{
padding:30px 25px;
}

.team{
padding:60px 5%;
}
}
.social-row{
display:flex;
justify-content:space-between;
gap:12px;
margin-bottom:15px;
}

.social{
flex:1;
height:42px;
border-radius:10px;
background:#020617;
border:1px solid #1f2933;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
font-size:18px;
transition:.3s;
}

.social:hover{
transform:translateY(-2px);
border-color:#38bdf8;
box-shadow:0 6px 20px rgba(56,189,248,.25);
}

/* subtle brand hints */

.google{color:#ea4335;}
.apple{color:white;}
.github{color:#a855f7;}
