.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:var(--primary);
color:white;
}

.logo{
font-size:22px;
font-weight:bold;
}

.nav-links{
display:flex;
list-style:none;
gap:25px;
}

.nav-links a{
color:white;
text-decoration:none;
}

#menu-toggle{
display:none;
}

.hamburger{
display:none;
flex-direction:column;
cursor:pointer;
}

.hamburger span{
width:25px;
height:3px;
background:white;
margin:4px;
}

/* Mobile */

@media(max-width:768px){

.hamburger{
display:flex;
}

.nav-links{
position:absolute;
top:70px;
left:0;
width:100%;
background:#00bcd4;
flex-direction:column;
align-items:center;
max-height:0;
overflow:hidden;
transition:0.4s;
}

#menu-toggle:checked ~ .nav-links{
max-height:200px;
}

}
